@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

body {
  height: 100vh;
  background-color:#f476c2e0;
  overflow: hidden;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

h2 {
  animation: 1.7s blink linear infinite;
  display: flex;
  justify-content: center;
  font-family: "Happy Monkey", sans-serif;
  text-decoration:wavy;
}

.birthdayCard {
  position: relative;
  width: 250px;
  height: 350px;
  cursor: pointer;
  transform-style: preserve-3d;
  transform: perspective(2500px);
  transition: 1s;
}

.cardFront {
  position: relative;
  background-color:#FFD3A3;
  width: 300px;
  height: 400px;
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, .2), 30px 0 50px rgba(0, 0, 0, 0.4);
  transition: .6s;
}

.happy {
  font-family: "Darumadrop One", sans-serif;
  text-align: center;
  margin: 30px;
  background-image: linear-gradient(120deg, #B6EAFA 0%, #f650eb 100%);
  transition: .1s;
}

.balloons {
  position: absolute;
}

.balloonOne,
.balloonTwo,
.balloonThree,
.balloonFour {
  position: absolute;
  width: 85px;
  height: 95px;
  border-radius: 50%;
}

.balloonOne {
  background-color: rgba(238, 59, 101, 0.7);
  left: -10px;
  top: 50px;
  animation: balloonAnimation 2s linear infinite;
}

.balloonTwo {
  background-color: rgba(39, 237, 185, 0.7);
  left: 50px;
  top: 20px;
  animation: balloonAnimation 2.5s linear infinite;
}

.balloonThree {
  background-color: rgba(232, 50, 235, 0.7);
  left: 110px;
  top: 50px;
  animation: balloonAnimation 3s linear infinite;
}

.balloonFour {
  background-color: rgba(73, 193, 234, 0.793);
  left: 170px;
  top: 20px;
  animation: balloonAnimation 2.8s linear infinite;
}

@keyframes balloonAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.balloonOne:before,
.balloonTwo:before,
.balloonThree:before,
.balloonFour:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 155px;
  background-color: #ffd166;
  top: 95px;
  left: 43px;
}

.balloonOne:after,
.balloonTwo:after,
.balloonThree:after,
.balloonFour:after {
  content: "";
  position: absolute;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  top: 94px;
  left: 37px;
}

.balloonOne:after {
  border-bottom: 10px solid #ef476f;
}

.balloonTwo:after {
  border-bottom: 10px solid #06d6a0;
}

.balloonThree:after {
  border-bottom: 10px solid #eb38ca;
}

.balloonFour:after {
  border-bottom: 10px solid #118ab2;
}

.cardInside {
  position: absolute;
  background-color:#FCFFB2;
  border: 2px solid rgb(224, 158, 71);
  width: 300px;
  height:400px;
  z-index:-1;
  left:0;
  top:0;
  box-shadow: inset 100px 20px 100px rgba(0,0,0,0.2);
}

p {
  font-family: cursive;
  margin: 40px;
  color: #333;
}

.name {
  position: absolute;
  left:200px;
  top:320px;
  color: #333;
  text-decoration: underline;
}

.back {
  font-family: 'Tahomma', sans-serif;
  color: #333;
  text-align: center;
  margin:30px; 
  outline-color:#333;
  outline-style: dotted;
}

.birthdayCard:hover {
    transform: perspective(2500px) rotate(5deg);
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.2), 0 10px 100px rgba(0,0,0,0.5);
}

.birthdayCard:hover .cardFront {
  transform: rotateY(-160deg); 
}

.birthdayCard:hover .happy {
  visibility:hidden; 
}

@keyframes blink {
 0% {
  color: white;
 }

 20% {
  color: rgb(12, 194, 173);
 }

 40% {
  color: rgb(245, 55, 109);
 }

 60% {
  color: rgb(157, 1, 160);
 }

 80% {
  color: rgb(99, 37, 231);
 }

 100% {
  color: rgb(245, 57, 151);
 }
}

#muteButton {
  position: fixed;
  bottom: 40px;
  right: 30px;
  background-color: #d844ee;
  border-color: #f671ce;
  font-size: large;
  font-family: "Happy Monkey", sans-serif;
  text-decoration: wavy;
}